@font-face {
  font-family: "GothamRegular";
  src: url("../fonts/gotham/Gotham-Book.otf");
}

@font-face {
  font-family: "GothamBold";
  src: url("../fonts/gotham/Gotham-Bold.otf");
}

@font-face {
  font-family: "GothamMedium";
  src: url("../fonts/gotham/Gotham-Medium.otf");
}

// colors
$bg-color: #242424;
$yellow-color: #ffc82d;
$blue-color: #566cb3;
$white-color: #ffffff;

// sizes
$header-size: 50px;
$sub-header-size: 40px;
$sub-sub-header-size: 24px;
$sub-paragraph-size: 18px;
$button-text-size: 16px;
$paragraph-size: 14px;

// breakpoints
// $breakpoint-xs: 0;
// $breakpoint-sm: 576px;
// $breakpoint-md: 768px;
// $breakpoint-lg: 992px;
// $breakpoint-xl: 1200px;
