// GENERAL
@import "variables";
@import "./../../node_modules/bootstrap/scss/bootstrap.scss";

@mixin paragraph {
  font-size: $paragraph-size;
  text-align: left;
  line-height: 2;
}

@mixin bg-section {
  background-image: url("../images/bg.png");
  background-size: contain;
  background-repeat: no-repeat;
}

@mixin button {
  font-size: $button-text-size;
  background-color: $bg-color;
  color: $white-color;
  border: 3px solid $yellow-color;
  padding: 8px;
}

body {
  background: $bg-color;
  font-family: gothamRegular;
  color: $white-color;
  box-sizing: border-box;
}

// NAV MENU
#logo {
  width: 120px;
}

.nav-item .nav-link {
  color: $white-color;
}

.nav-item {
  margin-left: 2rem;
}

.nav-link:hover,
.nav-link:focus {
  font-size: $button-text-size;
  color: $yellow-color;
}

// BANNER
.head {
  font-size: $header-size;
  color: $yellow-color;
  font-family: GothamMedium;
}

.banner-text {
  border-left: 3px solid $blue-color;
  padding-left: 1rem;
  font-size: $sub-paragraph-size;
}

#banner-img {
  width: 100%;
}

.banner-text-section {
  p {
    @include paragraph();
    margin: 20px 0 40px;
    border-left: 3px solid $blue-color;
  }

  button {
    @include button();
  }
}

// ABOUT

.about-text {
  @include paragraph();
}

.paragraph-bg {
  @include bg-section();
  height: 100vh;
}

#pattern {
  width: 100%;
}

// SERVICES
.buttons {
  .services {
    background-color: $bg-color;
    border: 3px solid $blue-color;
    border-radius: 10px;
    color: $white-color;
    width: 100%;
    font-size: $paragraph-size;
    //display: flex;
  }

  p {
    @include paragraph();
    margin-left: 15px;
  }
}

.paragh {
  @include bg-section();
  @include paragraph();
}
.paragh .modelparagh {
  // width: 60%;
}

#work-pro {
  width: 100%;
}

.carouselimg {
  width: 100%;
}

.carouseldiv {
  margin: auto;
  text-align: center;
  width: 100%;
  height: 120px;
  background-color: $blue-color;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.carouseldiv {
  span {
    width: 70%;
    text-align: center;
    background-color: $yellow-color;
    border-radius: 11.5px;
    padding: 8px;
    color: $bg-color;
  }
}

.carousel-control-next {
  margin-left: 300px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  outline: black;
  background-size: 100%, 100%;

  background-image: none;
}

.carousel-control-next-icon:after {
  content: ">";
  font-size: 35px;
  color: $yellow-color;
}

.carousel-control-prev-icon:after {
  content: "<";
  font-size: 55px;
  color: $yellow-color;
}

.carousel-img {
  background-color: $white-color;
  border-radius: 50%;
  width: 100%;
}
.bgimg {
  position: relative;
  right: 70px;
  width: 600px;
  z-index: -1;
}

#caspian {
  position: absolute;
  z-index: 99;
  width: 500px;
  // right: 10px;
}

input {
  background-color: transparent;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  // width: 205px;
  height: 50px;
}

footer {
  display: flex;
  justify-content: space-between;
}

.last {
  justify-content: space-between;
}

.navbar-light {
  color: $white-color;
}

.navbar-light .navbar-nav .nav-link {
  color: $white-color;
}
