@font-face {
  font-family: GothamRegular; }

@font-face {
  font-family: GothamBold; }

body {
  background: #242424;
  color: #FFFFFF; }

.nav-link {
  font-size: 1rem;
  color: black; }

.container {
  margin: 50px; }
