@font-face {
  font-family: GothamRegular;
  src: url("../fonts/gotham/Gotham-Book.otf"); }

@font-face {
  font-family: GothamBold;
  src: url("../fonts/gotham/Gotham-Bold.otf"); }

body {
  background: #242424;
  font-family: gothamRegular;
  color: #FFFFFF; }

.nav-link {
  font-size: 1rem;
  color: white; }
